
.divFatherChannelCard {
    background-color: white;
    width: 20%;
    margin: 20px;
    padding: 5px;
    border-radius: 0px 30px 30px 0px;
    box-shadow: 14px 0px 6px -4px rgba(0, 0, 0 , .1);
}

/* .divChannelImage {
    image
} */