.rightActions {
    margin-right: 20px;
}

.buttonUser {
    display: 'inline';
    background-color: transparent;
    border: 0;
    outline: none;
    transition-duration: 0.4s;
    border-radius: 30px;
}
.buttonUser :hover {
    display: 'inline';
    background-color: orange;
    border: 0;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 20px 15px 0 rgba(0, 0, 0 , .1);
}

.buttonHome {
    background-color: white;
    border-style: none;
    padding: 10px;
    font-weight: 800;
    letter-spacing: 2px;
    border-radius: 10px 15px 10px 15px;
    transition-duration: 0.4s;
    margin-left: 30px;
    font-size: large;
    outline: none;
}

.buttonHome:hover {
    margin-left: 30px;
    font-size: large;
    background-color: transparent;
    color: white;
    border-style: none;
    padding: 10px;
    font-weight: 800;
    letter-spacing: 2.8px;
    border-radius: 10px 15px 10px 15px;
    cursor: pointer;
    outline: none;
}